$title:#404040;
$txt:#666666;
$nav_link:rgba(102, 102, 102, 0.8);
$mobil_link:#fff;
$purple: #7286d8;
$nav_bgc: #7286d8;
$header: #7286d8;
$white_txt: #fff;
$white_txt_hover: #e5e9ff;
$bgc: #fff;
$nav_title: #fff;
