$title:#dddddd;
$txt:#bebebe;
$nav_link: #aaaaaa;
$mobil_link: #dedede;
$purple: #8a63bd;
$nav_bgc: #634788;
//$purple: #66bd63;
//$nav_bgc: #598847;
$white_txt: #cccccc;
$header: #393939;
$bgc: #333333;
$nav_title: #dddddd;
