.footer {
  padding: 40px 0 50px;
  border-top: 1px solid rgba($purple, 0.2);

  .footer__text {
    font-size: 16px;
    color: $txt;
    text-align: center;
    margin-bottom: 8px;
  }

  .footer__note {
    font-size: 14px;
    color: rgba($txt, 0.7);
    text-align: center;
  }
}
